<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
    <link href="/css/stylesNavigation.css" rel="stylesheet">
</head>
<header>
    <section class="navbar">
        <nav>
            <ul>
                <li class="logo">
                    <a href="/">
                        <img src="" alt="DondeVer">
                    </a>
                </li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/contact">Contacto</a></li>
                <!--II. M.V.A. Agregado navbar derecha
                <li><a href="/users/login">Iniciar Sesion</a></li>
                <li><a href="/users/register">Registrarse</a></li>
                FF-->
                <!--II. M.V.A. Agregado navbar derecha-->
                <div class = "nav-right">
                    <div class = "search-box">
                        <form action = "/search" method = "GET">
                            <input type="text" placeholder="Buscar..." name="search-box">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>

                    <div class="dropdown">
                        <% if (user && user.username) { %>
                            <div class="icon">
                                <img src="<%= user.avatar ? '/img/avatars/' + user.avatar : '/img/avatars/defaultAvatar.jpeg' %>" alt="Avatar">
                            </div>
                        
                        <% } else { %>
                            <div class="icon">
                                <i class="fa fa-solid fa-user"></i>
                            </div>
                        <% } %>
                        <div class="dropdown-content">
                            <% if (user && user.username) { %>
                                <a href="/users/editProfile/<%= user.username %>">Editar perfil</a>
                                <!-- Aquí deberías usar user.username para el enlace -->
                                <a href="/users/logout">Cerrar sesión</a>
                            <% } else { %>
                                <a href="/users/login">Iniciar sesión</a>
                                <a href="/users/register">Registrarse</a>
                            <% } %>
                        </div>                        
                    </div>         
                    
                    <div class = "icon">
                        <a href=""><i class = ""></i></a>
                    </div>
                </div>
                <!--FF-->    
            </ul>    
        </nav>
    </section>
</header>
