<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dónde ver | Home</title>
</head>

<body>
    <header>
<!--         include('partials/header.html') -->
        <img src = "../public/img/plataformas.png" alt = "plataformas" width="100%" height="100%"> 
    </header>
    <h1>Dónde encontrar tu película</h1>

    <ul>
        <li><a href = "views/mostWatched.html">Películas más vistas</a></li>
        <li><a href = "views/lastChance.html">Última oportunidad</a></li>
        <li><a href = "views/under90.html">Películas de 90 minutos</a></li>
    </ul>
    <footer>
<!--         include('partials/footer.html')-->
    </footer>
</body>
</html>
