<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dónde ver | Películas más vistas</title>
</head>

<body>
    <header>
<!--         include('partials/header.html') -->
        <img src = "../public/img/plataformas.png" alt = "plataformas" width="100%" height="100%"> 
    </header>
    <h1>Películas más vistas</h1>

    <ul>
        <li><a href = "#">Apple TV</a></li>
        <li><a href = "#">Amazon Prime</a></li>
        <li><a href = "#">Disney+</a></li>
        <li><a href = "#">HULU</a></li>
        <li><a href = "#">Max</a></li>
        <li><a href = "#">MercadoLibre</a></li>
        <li><a href = "#">Star+</a></li>
        <li><a href = "#">YouTube</a></li>
    </ul>
    <footer>
<!--         include('partials/footer.html')-->
    </footer>
</body>
</html>